* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;    
}

header h1 {
    font-size: 24px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: #f2f2f2;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.container input{
    margin-bottom: 20px;
}

.container button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container button:hover {
    background-color: #555;
}
.resultado {
    display: flex;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;

}
#resultado {
    font-weight: bold;
    font-size: 18px;
    background: #3333334f;
    padding: 2px;
    box-shadow: 0 4px 15px rgba(145, 145, 145, 0.884);
}
footer {
    background-color: #333;
    color: #fff;    
    padding: 20px;
    text-align: center;
}